*{
    margin: 0;
    padding: 0;
}

.admin-home-main{
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 0;
}

.admin-main-content{
    display: flex;
}


.admin-mid{
    height: 100vh;
    width: 650px;
    background-color: white;
    margin-top: 15px;
    margin-left: 80px;
    border-radius: 5px;
}