*{
    margin: 0;
    padding: 0;
}

.approve-main{
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 0;
}

.approve-main-content{
    display: flex;
    
    
}

.admin-mid{
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 238, 238) ;
    border-radius: 10px;
    margin-left: 30px;
    
}

.admin-mid h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 15px;
    color: rgb(21, 21, 21);
}

.approve-list{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.approve-card{
    margin-top: 15px;
    height: 350px;
    min-width: 300px;
    background-color: white;
    background-size: cover;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    background-image: url("https://www.designcap.com/media/pages/images/home/clipart.svg?v=1602654254");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.applied-image{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;

}

.approve-card h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(82, 82, 255);
}

.approve-card p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(89, 89, 89);
    font-size: 12px;
    margin-top: 5px;
}

.approve-button{
    height: 40px;
    width: 170px;
    border: 1px solid black;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.approve-button:hover{
    transition: 0.5s;
   
    border: 2px solid rgb(80, 80, 255);
}
.approve-button p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
    font-size: 15px;
}

