.task-main{
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 0;
}

.task-main-content{
    display: flex;

    justify-content: space-around;
}

.mid-main{
    height: 100vh;
    width: 650px;
    background-color: white;
    margin-top: 15px;
    border-radius: 8px;
}


.task-mid h1{
    padding-top: 20px;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    
}


.icon-card{
    height: 170px;
    width: 170px;
}

.card-image{
    height: 185px;
    width: 320px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: white;
    display: flex;
    gap: 15px;
    
}
.card-image img{
    height: 185px;
    width: 320px;
    object-fit: cover;
    border-radius: 5px;
    background-color: white;
    outline: none;
    border: none;
}


.hard{
    height: 340px;
    width: 610px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 5px;
}